h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

body {
  background-color: #FFDE01;
  font-family: 'Montserrat',arial,helvetica,sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

a {
  color: #FF0970;
  text-decoration: none;
}

img {
  max-width: 100%;
}

