h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

body {
  font-family: 'Montserrat',arial,helvetica,sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
    overflow-x: auto;
}

figure.highlight {
    margin-left: 0px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 1em;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

a {
  color: #FF0970;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@mixin css3-prefix($property, $args...) {
    -webkit-#{$property}: $args;
      -moz-#{$property}:  $args;
       -ms-#{$property}:  $args;
        -o-#{$property}:  $args;
           #{$property}:  $args;
}

@mixin key-frames($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  @include css3-prefix('animation', $str);
}

@mixin border-radius($radius) {
  @include css3-prefix('border-radius', $radius);
}

@mixin linear-gradient($args...) {
  background-image: -o-linear-gradient($args);
  background-image: -moz-linear-gradient($args);
  background-image: -webkit-linear-gradient($args);
  background-image: linear-gradient($args);
}

@mixin transition($str) {
  @include css3-prefix('transition', $str);
}
