$box-shadow-props: 0 0 1px gray;
$hover-background-color: #33E2C0;
$nav-background-color: #0acefc;
$nav-color: #fdfafa;
$text-shadow-props: 0 0 .063em gray;

body {
  background: #07b4ff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #072240;

  @include linear-gradient(180deg, #07b4ff 25%, #79e6d1 89%);
}

nav {
  color: #eef1f5;
  float: right;

  @include animation(show 1.5s ease-in 1);
}

nav a {
  background-color: $nav-background-color;
  box-shadow: $box-shadow-props;
  color: $nav-color;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  text-align: center;
  text-shadow: $text-shadow-props;

  @include transition(background-color .8s ease-out);

  &:hover {
    background-color: $hover-background-color;
    color: white;
    text-decoration: none;
  }
}

#main-wrapper {
  margin: 0 auto;
  max-width: 50em;
}

#header {
  margin-bottom: 3em;

  h1 {
    background-color: $nav-background-color;
    box-shadow: $box-shadow-props;
    color: $nav-color;
    float: left;
    font-family: 'Kaushan Script', cursive;
    font-size: 3.4em;
    margin: 0;
    padding: 0 .4em .4em;
    text-align: center;
    text-shadow: $text-shadow-props;

    @include transition(all .5s ease-in);
    @include animation(show .5s ease-in 1);
    @include border-radius(0 0 100% 100%);

    &:hover {
      background-color: $hover-background-color;
      color: white;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.archive-container {
  background-color: white;
  padding: 2em 3em 3em;
}

.archive {
  h3 {
    display: inline-block;
    margin: .2em .3em .4em 0;
  }

  .meta {
    font-size: .8em;
    font-style: italic;
  }
}

.blog-index {
  padding: .5em 0;
  position: relative;
  top: 3em;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.color-link {
  color: #ff0970;
}

.entry-title {
  background-color: #13bbbd;
  color: black;
  font-size: 1.8em;
  padding: .250em .375em;
}

.post-content {
  p {
    font-family: 'Open Sans';
    font-size: 1.3em;
  }
}

.page-content {
  a:hover {
    background-color: #ff0970;
    color: white;
    transition: all .2s ease-in-out;
  }
}

.meta {
  color: rgb(152, 152, 152);
}

.post {
  background-color: white;
  margin-bottom: 2em;
  padding: 2em 2.2em;

  h2 {
    font-size: 2em;
    margin-top: .2em;
  }
}

.post-list {
  margin: 0;
}

.rounded-corners {
  @include border-radius(.3em);
}

.wrapper {
  margin-bottom: 3em;

  @include animation(show 1.2s ease-in 1);
}

/**** Media Queries ****/
@media (max-width: 1000px) {
  #main-wrapper {
    max-width: 90%;
  }

  #header h1 {
    @include border-radius(0);
    font-size: 3em;
    padding-bottom: .2em;
  }

  #header h1,
    nav {
    display: block;
    float: none;
  }

  #header a {
    display: block;
    font-size: 1.2em;
    margin-top: .3em;
  }

  .archive {
    margin-bottom: 1em;
    h3 {
        display: block;
    };
  }
}

/**** Animation Frames ****/
@include key-frames(show) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  };
}
